
#game{
	border:solid;
	width:300px;
	height:500px;
	display: block;
	//margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	float: left;
	margin-left: 500px;
}

#buttons{
	width: 423px;
	margin: auto;
}

.button{
	width: 100px;
	height: 55px;	
}

#myhp{
	margin-left: 1000px;
}

#hp{
margin-left: 20px;
margin-top: 20px;
}